/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body{
    font-family: 'Lato', sans-serif;
    color: white;
}

/* header */
header{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.header-menu{
    background-color: #4a4a4a;
    padding: 5px 4px;
    border-radius: 3px;
    margin: 4px;
}
/* main */
main{
    background-color: black;
    height: calc(100vh - 140px );
    overflow-y: auto;
}
.main-container{
    display: flex;
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    

    
}
.partecipant{
    position: relative;
    width: 180px;
    height: 100px;
    margin: 3px;
    background-image: url(../img/image.jpg);
    background-size: cover;
    flex-shrink: 0;
    
}
.partecipant-name{
    font-size: 10px;
    background-color:rgba(101, 114, 124, 0.7) ;
    padding: 5px 8px;
    width:50% ;
    position: absolute;
    bottom: 0;
    left: 0;

}
/* footer */
footer{
    
    width: 100%;
    height: 70px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-column{
    display: flex;
    align-items: center;
}
.footer-element{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 11px;
    margin: 8px;
}
.active i , span{
    color: #4bc800;
}
.end-meeting{
    color: red;
    background-color: #4a4a4a;
    line-height: 70px;
    padding: 0 8px;
}